<div class="container-fluid fade">
  <main>
    <div id="bg"></div>
    <div class="logo"></div>
    <form action="POST" class="sign-up-form active">
      <div class="header">
        Already have an account?
        <span>
          <a href="#" class="sign-in-link">Sign in</a>
        </span>
      </div>
      <input class="email" type="email" placeholder="Email" required />
      <input class="username" type="text" placeholder="Username" required />
      <input class="pwd" type="password" placeholder="Password" required />
      <div class="social">
        <p>Or</p>
        <span class="line"></span>
        <a href="#" class="gg"
          ><span class="google-icon"></span>Sign up with Google</a
        >
        <a href="#" class="fb"
          ><span class="fb-icon"></span>Sign up with Facebook</a
        >
      </div>
      <input type="submit" class="submit" value="Submit" />
    </form>

    <form action="POST" class="sign-in-form">
      <div class="header">
        <span> </span>
        <span>
          <a href="#" class="sign-in-link">Forgot password?</a>
        </span>
      </div>
      <input class="username" type="text" placeholder="Username" required />
      <input class="pwd" type="password" placeholder="Password" required />
      <div class="social">
        <p>Or</p>
        <span class="line"></span>
        <a href="#" class="gg"
          ><span class="google-icon"></span>Sign in with Google</a
        >
        <a href="#" class="fb"
          ><span class="fb-icon"></span>Sign in with Facebook</a
        >
      </div>
      <footer class="sign-in-footer">
        <input type="submit" class="submit" value="Go" />
      </footer>
    </form>
  </main>
</div>
